img {
    width: 200px;
    border: 400;
}

body {
    text-align: center;
    font-family: 'Sour Gummy';
    font-weight: 800;
    background: palevioletred;
    color: rgb(89, 2, 35)
}

a {
    color: rgb(128, 0, 0);
}

div {
    width: 15%;
    display: inline-block;
}

header {
    text-align: center;
    height: 60px;
    color: rgb(255, 127, 187);
    background: rgb(92, 6, 54);

    a {
        color: rgb(255, 127, 187);
    }
}

footer {
    text-align: center;
    height: 60px;
    color: rgb(255, 127, 187);
    background: rgb(92, 6, 54);

    a {
        color: rgb(255, 127, 187);
    }
}

ul {
    background: rgb(173, 26, 99);
    padding: 20px;
    margin: 20px;
    border-style: dashed double;
    border-width: 5px 10px;
    border-color: rgb(128, 10, 63);
    border-radius: 10px;
}

ul li {
    background: rgb(255, 172, 201);
    padding: 5px;
    margin: 5px;
}

dl {
    background: rgb(173, 26, 99);
    padding: 20px;
    margin: 20px;

    border-style: dashed double;
    border-width: 5px 10px;
    border-color: rgb(128, 10, 63);
    border-radius: 10px;
}

dl dt {
    background: rgb(255, 172, 201);
    padding: 5px;
    margin: 5px;
    margin-bottom: 0;
}

dl dd {
    background: rgb(237, 144, 177);
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
}

.sour-gummy-hestia {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}