img {
    width: 70%;
    height: auto;
    padding: 40px;
}

.pfp-picture {
    max-width: 400px;
}

body {
    text-align: center;
    font-family: 'Sour Gummy';
    font-weight: 800;
    background: linear-gradient(rgb(232, 143, 173), rgb(146, 59, 98));
    color: rgb(89, 2, 35);
}

div {
    display: inline-block
}

a {
    color: rgb(128, 0, 0);
}

header {
    text-align: center;
    color: rgb(255, 127, 187);
    background: linear-gradient(rgb(92, 6, 54), rgb(150, 99, 123));

    a {
        color: rgb(255, 127, 187);
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-unit {
    display: inline-block;
    width: 20%;
}

@media (max-width: 600px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .flex-unit {
        display: inline-block;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 30px;

    }
}

.minecraft-reference {
    animation: wobble 1s ease-in-out infinite alternate;
    margin: 0;
    padding: 0;
    rotate: 10deg;
    color: rgb(255, 202, 248);
    transform-origin: 75% 75%;
    text-align: center;
    padding-left: 30%;
}

@keyframes wobble {
    0% {
        transform: rotate(-10deg);
    }

    100% {}
}


footer {
    text-align: center;
    height: 60px;
    color: rgb(255, 127, 187);
    background: linear-gradient(rgb(150, 99, 123), rgb(92, 6, 54));

    a {
        color: rgb(255, 127, 187);
    }
}

ul {
    background: rgb(173, 26, 99);
    padding: 20px;
    margin: 20px;
    border-style: dashed double;
    border-width: 5px 10px;
    border-color: rgb(128, 10, 63);
    border-radius: 10px;
}

ul li {
    background: rgb(255, 172, 201);
    padding: 5px;
    margin: 5px;
}

dl {
    background: rgb(173, 26, 99);
    padding: 20px;
    margin: 20px;

    border-style: dashed double;
    border-width: 5px 10px;
    border-color: rgb(128, 10, 63);
    border-radius: 10px;

    img {
        width: 75%;
        height: auto;
        padding: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

dl dt {
    background: rgb(255, 172, 201);
    padding: 5px;
    margin: 5px;
    margin-bottom: 0px;
}

dl dd {
    background: rgb(237, 144, 177);
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
}

.sour-gummy-hestia {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}